<!-- <GridLayout>
  <page-router-outlet></page-router-outlet>
</GridLayout> -->


<GridLayout rows="*, auto">
  <StackLayout row="0" verticalAlignment="middle">
      <label text="Content Here"></label>
  </StackLayout>
  <BottomNavigationBar
      activeColor="red"
      inactiveColor="yellow"
      backgroundColor="black"
      (tabSelected)="onBottomNavigationTabSelected($event)"
      (tabPressed)="onBottomNavigationTabPressed($event)"
      row="1"
  >
      <BottomNavigationTab title="First" icon="res://ic_home"></BottomNavigationTab>
      <BottomNavigationTab title="Second" icon="res://ic_view_list"></BottomNavigationTab>
      <BottomNavigationTab title="Third" icon="res://ic_menu"></BottomNavigationTab>
  </BottomNavigationBar>
</GridLayout>